body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(244 242 238);
}
.app {
  padding-top: 70px;
}
/* NAVBAR  */
.navbar {
  border: 2px solid black;
  position: fixed;
  width: 250px;
  background-color: rgb(244 242 238);
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 50px;
}

/* TITLE  */
.title {
  text-align: center;
}

/* BLOGS  */
.blogs {}

.blogs-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 350px);
  column-gap: 30px;
  row-gap: 20px;
}

.blog {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  text-decoration: none;
  color: black;
}

.blog-title,
.blog-desc {
  padding-left: 10px;
}

.blog-title {
  margin: 5px 0;
}

.blog-desc {
  margin: 0;
  padding-bottom: 20px;
}

.blog-img {
  width: 100%;
}

/* ONE BLOG  */
.one-blog__img {
  max-width: 500px;
  margin-bottom: 10px;
}

.one-blog__content-text {
  max-width: 900px;
}

.one-blog__category {
  color: blue;
}

/* ERROR  */
.error {
  text-align: center;
}

/* LOADER  */
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid  black;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}